# Default ignored files
/workspace.xml
/libraries/Maven__com_alibaba_fastjson_1_2_59.xml
/libraries/Maven__com_github_bbottema_emailaddress_rfc2822_2_1_3.xml
/libraries/Maven__com_google_code_findbugs_jsr305_3_0_1.xml
/libraries/Maven__com_sun_activation_jakarta_activation_1_2_1.xml
/libraries/Maven__com_sun_mail_jakarta_mail_1_6_3.xml
/libraries/Maven__commons_codec_commons_codec_1_6.xml
/libraries/Maven__commons_logging_commons_logging_1_1_3.xml
/libraries/Maven__org_apache_httpcomponents_httpclient_4_3_5.xml
/libraries/Maven__org_apache_httpcomponents_httpcore_4_3_2.xml
/libraries/Maven__org_apache_logging_log4j_log4j_api_2_12_1.xml
/libraries/Maven__org_apache_logging_log4j_log4j_core_2_12_1.xml
/libraries/Maven__org_apache_logging_log4j_log4j_slf4j_impl_2_12_1.xml
/libraries/Maven__org_simplejavamail_simple_java_mail_5_2_0.xml
/libraries/Maven__org_slf4j_slf4j_api_1_7_21.xml
/compiler.xml
/encodings.xml
/misc.xml
/modules.xml
/uiDesigner.xml
/vcs.xml
